<header class="navbar fixed-top bg-app-theme">
    <div class="container-fluid">
        <button class="btn btn-link text-white" type="button" aria-label="Toggle Sidebar" (click)="GoToDashBoard()">
            <i class="bi bi-speedometer fs-4"></i>
        </button>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <button class="nav-link text-white" aria-label="User Profile" (click)="LogOut()">
                    <i class="bi bi-box-arrow-in-right fs-3 me-3"></i>
                </button>
            </li>
        </ul>
    </div>
</header>